:root{
    --ColorFondoClaro: rgb(243, 243, 243);
    --ColorFondoClaro2: rgb(207, 226, 230);
    --ColorFondoClaro3: rgb(238, 204, 159);
    --ColorFondoOscuro: rgb(221, 221, 221);
    --ColorFondoOscuro2: rgb(173, 173, 173);
    --ColorFondoOscuro3: rgb(211, 169, 115);
    --ColorFondoOscuro4: rgb(43, 136, 173);
    --ColorLetra: aliceblue;
    --ColorLetra2: rgb(21, 67, 218);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    container-type: inline-size;
    container-name: Body;
    background-color: aliceblue;
}

/*//////// Menu Header ////////*/
.header__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--ColorFondoOscuro);
    box-shadow: 0 0 5px black;
    height: 50px;
    align-items: center;
    z-index: 1;
    margin-bottom: 3px;
    .header__container-menu{
        #open-menu{
            display: none;
        }
        #open-menu:checked ~ .menu-open--nav{
            padding-right: 100vw;
        }
        #open-menu:checked ~ .nav-menu{
            display: flex;
        }
        #open-menu:checked ~ .nav-menu > .menu__container-logo2{
            display: flex;
        }
        .menu-open--nav{
            user-select: none;
            font-size: 2rem;
            font-weight: 600;
            left: 12px;
            padding: 5px 15px;
        }
        .menu-open--nav:hover{
            background-color: var(--ColorFondoOscuro2);
        }
        .menu-open--nav:active{
            background-color: var(--ColorFondoClaro);
        }
        .nav-menu{
            display: none;
            flex-direction: column;
            position: fixed;
            background-color: var(--ColorFondoClaro2);
            box-shadow: 0 0 5px black;
            height: 100vh;
            width: 100%;
            top: 50px;
            align-items: center;
            z-index: 5;
            overflow: auto;
            .menu__container-logo2{
                display: none;
                /*flex-direction: row;*/
                flex-wrap: wrap;
                position: relative;
                justify-content: center;
                height: auto;
                width: 40vw;
                margin: 20px;
                .menu__img-logo2{
                    max-width: 100%;
                    height: 110px;
                    margin: 10px 15px;
                    border-radius: 10px;
                }
                .logo2-text{
                    display: flex;
                    flex-direction: column;
                    width: 40vw;
                    margin: auto 10px;
                    text-align: center;
                    label{
                        font-size: 1.1rem;
                        width: auto;
                        font-weight: 600;
                    }
                    a{
                        font-size: .8rem;
                    }
                }
            }
            hr{
                width: 80%;
            }
            .menu__nav-list{
                display: flex;
                flex-direction: column;
                margin: 0 auto auto;
                justify-content: space-evenly;
                height: 40vh;
                text-align: center;
                .nav__li-item{
                    list-style: none;
                    font-family: 'Gill Sans', 'Gill Sans MT';
                    padding: auto 30px;
                    a{
                        color: black;
                        text-decoration: none;
                        padding: 8px 25vw;
                        border-radius: 8px;
                    }
                }
                .nav__li-item :is(:hover,:active){
                    text-decoration: underline;
                    font-style: italic;
                    transition: .3s;
                    border: 1px solid var(--ColorLetra);
                    background-color: var(--ColorFondoOscuro);
                }
            }
        }
    }
    .header__container-logo1{
        .img-logo1{
            display: none;
        }
    }
}

/*//////// Container Menu Header ////////*/
@container Body (min-width: 700px){
    #header{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        height: 130px;
        top: 0;
        z-index: 5;
        .header__container-menu{
            .menu-open--nav{
                display: none;
            }
            #open-menu:checked ~ .nav-menu > #menu__container-logo2{
                display: none;
            }
            .menu__container-logo2 :is(img,label,a){
                display: none;
            }
            hr{
                display: none;
            }
            #nav-menu{
                display: block;
                position: static;
                background-color: transparent;
                box-shadow: none;
                top: 0;
                height: auto;
                min-width: 50vw;
                width: auto;
                margin: auto;
                overflow: hidden;
                .menu__nav-list{
                    flex-direction: row;
                    justify-content: center;
                    height: auto;
                    gap: 1vw;
                    li{
                        padding: 30px 0;
                    }
                    a{
                        transition: .3s;
                        font-size: 1.3rem;
                        font-weight: 600;
                        padding: 10px 10px;
                    }
                    a:hover{
                        background-color: var(--ColorFondoOscuro);
                        color: var(--ColorLetra2);
                        border: 1px solid;
                        border-radius: 20px;
                    }
                }
            }
        }
        .header__container-logo1{
            margin-left: 8vw;
            .img-logo1{
                display: block;
                height: 120px;
            }
        }
    }
}

/*//////// Form Reservacion ////////*/
.main-container{
    margin: 2px;
    h1{
        font-size: 1.5rem;
        margin: 13px;
        text-align: center;
    }
    .reservacion-container{
        display: flex;
        .reservacion{
            background-color: var(--ColorFondoClaro2);
            border-radius: 8px;
            box-shadow: 0 0 5px black;
            padding: 10px;
            fieldset{
                border-radius: 8px;
                border: 2px solid black;
                display: flex;
                flex-wrap: wrap;
                padding: 0 10px 15px;
                margin: 0 0 10px;
                legend{
                    font-size: 1.1rem;
                    font-weight: 600;
                }
                .nums{
                    display: flex;
                    max-width: 85vw;
                    .num1, .num2{
                        display: flex;
                        flex-direction: column;
                        max-width: 50%;
                        margin-right: 5px;
                        label{font-size: .9rem;}
                    }
                }
            }
            label{font-size: 1rem;}
            input,textarea{
                border: 1px solid black;
                border-radius: 5px;
                padding: 2px 5px;
                width: 100%;
                height: 30px;
                margin-bottom: 5px;
            }
            textarea{
                height: 100px;
                padding: 5px 8px;
            }
            .buttons{
                display: flex;
                justify-content: space-around;
                margin: 15px 0;
                input[type="button"]{
                    width: 35%;
                    padding: 5px;
                    transition: .2s;
                }
                input[type="button"]:hover{filter: brightness(.8);}
                input[type="button"]:active{filter: saturate(.8);}
                .btnEnviar{background-color: rgb(177, 231, 177);}
                .btnBorrar{background-color: rgb(245, 150, 150);}
            }
        }
    }
    .pedido-container{
        box-shadow: 5px 5px 10px black;
        border-radius: 8px;
        margin: 50px 10px;
        .pedido{
            padding: 15px;
            label{
                display: flex;
                align-items: center;
                img{
                    border-radius: 50%;
                    border: 1px solid black;
                    object-fit: cover;
                    height: 50px;
                    width: 50px;
                    margin: 15px;
                }
            }
        }
    }
}

/*//////// Container Form Reservacion ////////*/
@container Body (min-width: 700px){
    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 20px;
        h1{
            font-size: 2rem;
            margin: 30px;
        }
        .reservacion-container{
            .reservacion{
                border-radius: 12px;
                box-shadow: 5px 5px 25px black;
                padding: 18px;
                fieldset{
                    border-radius: 12px;
                    legend{font-size: 1.6rem;}
                    .nums{
                        display: flex;
                        max-width: 85vw;
                        .num1, .num2{
                            max-width: 50%;
                            margin-right: 15px;
                            label{font-size: 1.4rem;}
                        }
                    }
                }
                label{font-size: 1.4rem;}
                input,textarea{
                    border-radius: 8px;
                    font-size: 1.3rem;
                    height: 50px;
                    margin-bottom: 10px;
                }
                textarea{
                    height: 160px;
                    padding: 5px 8px;
                }
                .buttons{
                    margin: 30px 0;
                    input[type="button"]{
                        width: 30%;
                        padding: 10px;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .pedido-container{
            border-radius: 12px;
            margin: 80px 10px;
        }
    }
}

/*//////// Pie de pagina ////////*/
.footer-pie_de_pagina{
    background-color: var(--ColorFondoOscuro4);
    color: var(--ColorLetra);
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 15px;
    .footer-pie1{
        .footer__container-img{
            display: flex;
            flex-direction: row;
            height: 70px;
            .logo_footer{
                border-radius: 10px;
                height: 60px;/
            }
            p{
                padding: 10px;
                height: 150px;
                text-align: center;
            }
        }
        
    }
    h6{
        font-size: 1.1rem;
        margin-bottom: 20px;
    }
    label{
        margin: 30px;
        font-size: .8rem;
    }
    li{
        margin-left: 30px;
        font-size: .6rem;
    }
    p{font-size: .5rem;}
    hr{margin: 15px 0 25px;}
    .footer-pie1, .footer-pie2{
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.233);
        padding: 20px 10px;
        width: 100%;
    }
}

/*//////// Container Pie de pagina ////////*/
@container Body (min-width: 700px){
    .footer-pie_de_pagina{
        .footer-pie1{
            .footer__container-img{
                height: 170px;
                .logo_footer{
                    border-radius: 10px;
                    height: 150px;
                }
            }
            
        }
        label{font-size: 1.3rem;}
        h6{font-size: 1.7rem;}
        li{font-size: 1rem;}
        p{font-size: 1rem;}
        .footer-pie1, .footer-pie2{
            width: 45%;
        }
    }
}